*{
  margin: 0;
  padding: 0;
}
.top-header{
  width: 100%;
  height: 100vw;
  background-color: #f2d5f9;

}
#imgcontainer{
  margin: 0 auto;
  width: 30%;
  height: auto;
  
}
.mypic {
  border-radius: 50%;
  width: 100%;
  margin:0 auto;
  position: relative;
  top:10vh;
  
}

.name {
  text-align: center;
  font-size: 1.5em;
}
#foot {
  position: relative;
  bottom: 0px;
  width: 100%;
  height:auto;
  background-color: black;
  color: white;
  font-size: 1em;
  text-align: center;
 padding-top: 20px;
 padding-bottom: 20px;
}
